*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #191C1F;
    --color-grey-1: #868E96;
    --color-red-1: #F7635C;
    --color-red-2: #8A3733;
    --color-orange-1: #F78A41;
    --color-orange-2:#8B4D24;
}